html, body, header, footer{
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #222;
}
header navbar{
    padding: 5rem;
}
.navbar
{
    background-color: rgba(5, 1, 19, 0.925) !important;
}
.navbar li a{
    color: white !important;
}
.navbar li a:hover{
    color: 	rgb(225, 128, 9) !important;
}
.carousel-inner img{
    width: 100%;
    height: 10%;
}

footer{
    background-color: rgba(5, 1, 19, 0.925);
}
.row{
    color: whitesmoke;
}

hr.light{
    border-top: 1px solid #d5d5d5
}

footer p{
    color: whitesmoke;
}